.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  /*background: white center center no-repeat;*/
  opacity: .5;
  top:0;
  left: 0;
  z-index: 888;
}

  .overlay svg {
    position: fixed;  
    
    top: 47% !important;
    left: 47% !important;
    z-index: 999;
  }



